* {
    box-sizing: border-box;
}

body {
    background: #ffffff;
    margin: 0;
    font-family: "Helvetica";
}

/* Navbar */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eaeaea;
}

.navbar ul li {
    float: left;
}

.navbar ul li.title {
    font-size: 1.4em;
}

.navbar ul li.right {
    float: right;
}

.navbar ul li a {
    display: block;
    color: #007141;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

/* Grid */
.row::after {
    clear: both;
}

.col {
    float: left;
}

.col-2 {
    width: 25%;
}

.col-10 {
    width: 75%;
}

.gutter-top {
    padding-top: 20px;
}

/* Forms */
select {
    padding: 10px 10px;
    background: #f8f8f8;
    width: 100%;
}

button {
    display: inline-block;
    -webkit-appearance: none;
    margin: 10px;
    padding: 10px 30px;
    cursor: pointer;
    background: #006030;
    color: white;
    border: none;
}

button:hover {
    background: #007141;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #0e6137;
    color: white;
    border: solid 1px white;
}

td {
    border: solid 1px #08301c;
}

th, td {
    padding: 10px;
}

/* Text */
.text-right {
    text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    color: #007141;
}